<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"
     connectionString="Server=TEKAPC\SQLEXPRESS;Database=VroomRental;Trusted_Connection=True;TrustServerCertificate=True;"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>